div.ability {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.2em;
  padding: 1em;
}

div.ability-details-container {
  flex-direction: column;
  text-align: left;
  font-size: smaller;
  margin-left: 5%;
  width: 65%;
}

div.ability-icon {
  width: 15%;
  max-width: 100px;
  background-color: cornflowerblue;
}

div.ability-hotkey {
  display: inline;
}

div.ability-title {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.5em 0 0.5em 0;
  text-transform: uppercase;
}

span.ability-cost {
  color: darkblue;
  margin-right: 1em;
}

div.ability-cost-cooldown {
  margin-bottom: 0.5em;
}
