div.hero-card-round {
  position: relative;
  width: 92px;
  height: 93px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.6);
  margin-bottom: -10%;
}

img.role-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  right: 0;
}
